tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf

torch
einops
plyfile
pynvml


# for dmtet and mesh export
xatlas
trimesh
PyMCubes
pymeshlab

submodules/diff-gaussian-rasterization
submodules/simple-knn
git+https://github.com/NVlabs/nvdiffrast/
git+https://github.com/ashawkey/kiuikit